.badge {
    display: inline-block;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    line-height: 20px;
    width: 20px;
    padding: 0;
    font-size: 12px;
    background: red;
    min-width: 20px;
    border-radius: 10px;
    color: white;
    font-weight: 600px;
    position: relative;
    top: -15px;
    left: -15px;
}