/*Display and positioning*/

/* Center an element*/

div {
    margin: 0 auto;
    width: 400px; /*set the to width less than the page width*/
}

/*overflow*/

div {
    overflow: hidden; 
    overflow: scroll;
    overflow: visible; /*default*/
}

/*reset default properties*/

* {
    margin: 0px;
    padding: 0px;
}

/*rest a box*/

* {
    box-sizing: border-box; /*overall size of the box doesn't change*/
}

/*positioning*/
div {
    position: static; /*default*/
    position: relative; /*moves the element relative to static position*/
    top: 10px;
    left: 20px;

    position: absolute; /*other elements will ignore this one*/
    top: 10px;
    left: 20px;

    position: fixed; /*will not move when scrolling, eg nav bar*/
    top: 10px;
    left: 50px;
}

div {
    z-index: 2;
}

div {
    float: right; /*float can be used to move elements to far end of the page*/
}